# Build folder
build
Debug

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.metadata/

# Others
boost_1_75_0
*.asv
.DS_Store

compressive_sensing/pdcs_evaluations/cs_eval_results/*.txt

# cam-ml
cam-ml/data/*
compressive_sensing/pdcs_evaluations/input_signal.mat
compressive_sensing/pdcs_evaluations/output_prs.mat
*.pyc
compressive_sensing/mcu_data_gen/output_prs.mat
compressive_sensing/mcu_data_gen/input_signal.mat
